<p><h1>Hello : <%= @user.username %></h1></p>

<p>You have created new travel vendor</p>

<p><h2>Details:</h2></p>

<p> <%= @travel.name %> </p>

<p> <%= link_to "Goto Site", travel_vendor_url(@travel) %></p>


